
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #f4f6f8;
    color: #333;
}

/*Menu Lateral*/
.sidebar {
    width: 250px;
    background-color: #006C35;
    padding: 30px 20px;
    position: fixed;
    height: 100%;
}

.logo {
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.logo-img {
    width: 85px;
    border-radius: 50%;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover, .menu a.ativo {
    background-color: white;
    color: #006C35;
}

/*Conteúdo*/
.conteudo {
    margin-left: 250px;
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cabecalho-pagina {
    border-bottom: 3px solid #006C35;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.cabecalho-pagina h1 {
    color: #006C35;
}

.cabecalho-pagina p {
    color: #666;
    margin-top: 5px;
}

.texto-intro p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

/*Carrossel*/
.carrossel-container {
    position: relative;
    max-width: 700px;
    margin: 0 auto 40px auto;
    border: 3px solid #006C35;
    border-radius: 8px;
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.slide.ativo {
    display: block;
}

.btn-seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 108, 53, 0.8);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
}

.btn-seta.anterior { left: 10px; }
.btn-seta.proximo { right: 10px; }

.btn-seta:hover {
    background-color: #006C35;
}

/*Curiosidades */
.grid-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border-left: 5px solid #006C35;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card h3 {
    color: #006C35;
    margin-bottom: 10px;
}

.card p, .card ul {
    line-height: 1.6;
    color: #444;
}

.card ul {
    margin-left: 20px;
}

/*Equipe*/
.perfil {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    gap: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.info-perfil h2 {
    color: #006C35;
    margin-bottom: 5px;
}

.papel {
    color: #666;
    margin-bottom: 15px;
}

/*Rodapé*/
footer {
    margin-top: auto;
    text-align: center;
    padding-top: 30px;
    color: #777;
    font-size: 14px;
}